{% extends "recourses/base.html" %}

<title>Teste</title>

{% block content %}
    <!-- Page Content -->
    <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
            <div class="card-body">
              <h3 class="card-title">{{ recourse.title }}</h3>
              <h4>$24.99</h4>
              <p class="card-text">{{ recourse.description }}</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            </div>
          </div>
          <!-- /.card -->


          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

{% endblock %}
