{% extends "recourses/base.html" %}

{% block content %}
{% load widget_tweaks %}
    <!-- Page Content -->
    <div class="container">
      <form method="get">
        <div class="well">
          <div class="row">
            <div class="form-group col-sm-5 col-md-6">
              {{ recourse_filter.form.difficult_student.label_tag }}
              {% render_field recourse_filter.form.difficult_student class="form-control" %}
            </div>
            <div class="form-group col-sm-5 col-md-6">
              {{ recourse_filter.form.difficult_education.label_tag }}
              {% render_field recourse_filter.form.difficult_education class="form-control" %}
            </div>
          </div>
          <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span>Procurar</button>
        </div>

      </form>
      <!-- Page Heading -->
      <!--
      <div id="wrapper-filter">
      			<ul id="filter-bar">
				        <span class="pill"></span>
				        <li class="filter-option option-1 active" data-target="option-1">Books</li>
				        <li class="filter-option option-2" data-target="option-2">Shoes</li>
				        <li class="filter-option option-3" data-target="option-3">Toys</li>
			      </ul>
		   </div> -->
      <!-- Project One -->
      {% for recourse in recourse_filter.qs %}
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{ recourse.title }}</h3>
          <p>{{ recourse.description }}</p>
          <a class="btn btn-primary" href="{% url 'recourse_detail' slug=recourse.slug %}">Ver recurso</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
      {% endfor %}

{% endblock %}
