{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS
  <link href={% static "resources/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet"> -->
</head>
<body>

  <input type="hidden" id="userName" value={{ userName }}>
  {% block content %}
  {% endblock %}

  <script src={% static "public/bundle.js" %}></script>

</body>
</html>
