{% extends "resources/base.html" %}

{% block content %}
{% load widget_tweaks %}

    <div class="container">
      <form class='margin-top' method="get">
          <h1>Filtrar:</h1>
          <div class="row">
            <div class="form-group col-sm-5 col-md-6">
              {{ resource_filter.form.difficult_student.label_tag }}
              {% render_field resource_filter.form.difficult_student class="form-control" %}
            </div>
            <div class="form-group col-sm-5 col-md-6">
              {{ resource_filter.form.difficult_education.label_tag }}
              {% render_field resource_filter.form.difficult_education class="form-control" %}
            </div>
          </div>
          <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span>Procurar</button>


      </form>
      <hr>
      <!-- Page Heading -->
      <!--
      <div id="wrapper-filter">
      			<ul id="filter-bar">
				        <span class="pill"></span>
				        <li class="filter-option option-1 active" data-target="option-1">Books</li>
				        <li class="filter-option option-2" data-target="option-2">Shoes</li>
				        <li class="filter-option option-3" data-target="option-3">Toys</li>
			      </ul>
		   </div> -->
      <!-- Project One -->
      {% for resource in resource_filter.qs %}
      <div class="row">
        <div class="col-md-7 centered">
          <a href="{% url 'resource_detail' slug=resource.slug %}">
            <img class="img-fluid my-image-thumb" src={{ resource.image_set.get.image.url }} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{ resource.title }}</h3>
          <p>{{ resource.description }}</p>
          <a class="btn btn-primary" href="{% url 'resource_detail' slug=resource.slug %}">Ver recurso</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
      {% endfor %}
</div>
{% endblock %}
