{% extends "resources/base.html" %}

<title>Teste</title>

{% block content %}
<div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">{{ resource.title }}
        {% if resource.author %}
        <small>por {{ resource.author }}</small>
        {% endif %}
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="{{ image.image.url }}" alt="">
        </div>
        <hr>
        <div class="col-md-4">
          <h3 class="my-3">Descrição:</h3>
          <p>{{ resource.description }}</p>
          <h3 class="my-3">Detalhes:</h3>
          <ul>
            {% if resource.url %}
              <li>Acesse em: <a href={{ resource.url }}>{{ resource.url }}</a></li>
            {% endif %}
            {% if resource.difficult_student != 'id' %}
              <li>Dificuldade para o estudante: {{ resource.get_difficult_student_display }}</li>
            {% endif %}
            {% if resource.difficult_education != 'id' %}
              <li>Dificuldade para o docente: {{ resource.get_difficult_education_display }}</li>
            {% endif %}
          </ul>
          {% if resource.tags.all %}
          <hr>
          <h3>Tags:</h3>
          <ul>
            {% for tag in resource.tags.all %}
              <li>{{ tag.title }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-lg-12">
            <div class="row text-center">
              <div class="col-md-6 my-4">
                <div class="card-header">
                  <h3>Pros do Recurso:</h3>
                </div>
                <div class="card-body">
                  {% if pro_list %}
                    {% for pro in pro_list %}
                      <p>{{ pro.title }}</p>
                    {% endfor %}
                  {% else %}
                    <p>Seja o primeiro a adicionar um feedback positivo!</p>
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModalGood">Adicione um comentário positivo</button>
              </div>
              <div class="col-lg-6  my-4">
                <div class="card-header">
                  <h3>Contras do Recurso:</h3>
                </div>
                <div class="card-body">
                  {% if con_list %}
                    {% for con in con_list %}
                      <p>{{ con.title }}</p>
                    {% endfor %}
                  {% else %}
                    <p>Nenhum ponto negativo relatado!</p>
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#myModalBad">Adicione um comentário negativo</button>
              </div>
            </div>
            {% if resource.resources.all %}
              <h3 class="my-4">Você pode achar esses recursos interessantes também:</h3>

              <div class="row">
                {% for rec in resource.resources.all %}
                <div class="col-md-3 col-sm-6 mb-4">
                  <a href="{% url 'resource_detail' slug=rec.slug %}">
                    <img class="img-fluid" src="{{ rec.image_set.get.image.url }}" alt="">
                  </a>
                </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

<div class="modal fade" id="myModalGood" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback Positivo:</h4>
      </div>
      <form method="POST" class="post-form form-control">
        <div class="modal-body">
            {% csrf_token %}
            {{ feedback_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" name="good_feedback" class="save btn btn-primary">Salvar!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalBad" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback negativo</h4>
      </div>
      <form method="POST" class="post-form form-control">
        <div class="modal-body">
            {% csrf_token %}
            {{ feedback_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" name="bad_feedback" class="save btn btn-danger">Salvar!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
