{% extends "resources/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="col-lg-8 margin-top mx-auto">
    <h1>Novo Recurso</h1>
    <form method="POST" class="post-form" enctype='multipart/form-data'>
        {% csrf_token %}

        {% for hidden in resource_form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in resource_form %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control'}} <br />
        {% endfor %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Adicionar tag</button>
        <hr>

        {% for field in image_form %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control'}} <br />
        {% endfor %}

        {% for error in image_form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}

        <button type="submit" name="form-submit" class="save btn btn-default">Salvar!</button>
    </form>
  </div>

</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tag:</h4>
      <form method="POST" class="post-form form-control">
        <div class="modal-body">
            {% csrf_token %}
            {{ tag_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="save btn btn-primary" name="tag_submit">Adicionar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </form>
  </div>
</div>
{% endblock %}
