{% extends "resources/base.html" %}

<title>Teste</title>

{% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="col-lg-12">

            <div class="card mt-4">
              <img class="card-img-top img-fluid" src={{ image.image.url }}>
              <div class="card-body">
                <h1 class="card-title">{{ resource.title }}</h1>
                <hr>
                <p class="card-text">{{ resource.description }}</p>
                <hr>
                <h4>Especificações: </h4>
                {% if resource.value %}
                <p>Valor: {{ resource.value }}</p>
                {% endif %}
                {% if resource.url %}
                <p>Link para acessar o recurso: {{ resource.url }}</p>
                {% endif %}
                {% if resource.difficult_student != 'id' %}
                <p>A dificuldade para os estudantes é {{ resource.difficult_student }}</p>
                {% endif %}
                {% if resource.difficult_education != 'id' %}
                <p>A dificuldade para os docentes é {{ resource.difficult_education }}</p>
                {% endif %}
                <hr>
                {% for tag in resource.tags.all %}
                <h5> {{ tag.name }}</h5>
                {% endfor %}
                <!--
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars -->
              </div>
            </div>


            <div class="row text-center">
              <div class="card col-lg-6 my-4">
                <div class="card-header">
                  Pros do Recurso:
                </div>
                <div class="card-body">
                    {% for pro in pro_list %}
                      <p>{{ pro.title }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModalGood">Adicione um comentário positivo</button>
              </div>
              <div class="card col-lg-6  my-4">
                <div class="card-header">
                  Contras do Recurso:
                </div>
                <div class="card-body">
                    {% for con in con_list %}
                      <p>{{ con.title }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModalBad">Adicione um comentário negativo</button>
              </div>
            </div>

            <div class="card card-outline-secondary mt-4">
              <div class="card-header">
                Outros Recursos relacionados:
              </div>
              <div class="card-body">
                  {% for rec in resource.resources.all %}
                    <h5><a href="{% url 'resource_detail' slug=rec.slug %}">{{ rec.title }}</a></h5>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
<!-- Popup for feedbacks -->
<div class="modal fade" id="myModalGood" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback Positivo:</h4>
      </div>
      <form method="POST" class="post-form">
        <div class="modal-body">
            {% csrf_token %}
            {{ feedback_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" name="good_feedback" class="save btn btn-default">Salvar!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalBad" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback negativo</h4>
      </div>
      <form method="POST" class="post-form">
        <div class="modal-body">
            {% csrf_token %}
            {{ feedback_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" name="bad_feedback" class="save btn btn-default">Salvar!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
