{% extends "resources/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="col-lg-8 col-centered">
    <h1>Novo Recurso</h1>
    <form method="POST" class="post-form" enctype='multipart/form-data'>
        {% csrf_token %}

        {% for hidden in resource_form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in resource_form %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control'}} <br />
        {% endfor %}

        <hr> -->

        {% for field in image_form %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control'}} <br />
        {% endfor %}

        {% for error in image_form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}

        <button type="submit" name="form-submit" class="save btn btn-default">Salvar!</button>
    </form>
    {{ image_form.media }}
</div>
</div>
{% endblock %}
